
a{
    color: burlywood;
    text-decoration: none;
    overflow: hidden;
}
a:hover{
    border: 1px solid ;
    border-radius: 20px;
}
.style-menu{
    list-style: none;
    border-style: none;
    background-color:rgb(49, 33, 33);
    color:burlywood;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
option::selection{
    background-color:burlywood;
    font-size: 15px;
    font-weight: 700;
}
option::selection:hover{
    background-color: burlywood;
}

#left{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    margin-left: 20px;
}
hr{
    border: 2px solid burlywood;
}
#textright{
    float: right;
    color: burlywood;
    word-spacing: 10px;
    gap:40px;
    font-size: 20px;
    margin-right: 100px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}


.card {
  width: 275px; /* Adjust width as needed */
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px;
  overflow: hidden; /* This is important for the hover effect */
  position: relative; /* This is important for the hover effect */
  display: inline-block;
}
.card img {
    width: 100%;
    height: 100%; /* Adjust height as needed */
    transition: transform 0.3s ease; /* Smooth transition on hover */
  }
  .card:hover img {
    transform: scale(1.1); /* Enlarge image on hover */
    height: 350px;
  }
  .card-content {
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease; /* Smooth transition on hover */
    opacity: 0; /* Initially hide content */
    position: relative; /* Overlap the image */
    bottom: 25; /* Position at the bottom */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: #fff;
  }
  
  .card:hover .card-content {
    opacity: 1; /* Show content on hover */
  }
  .border{
    display: flex;
    justify-content: center;
    border: 0px solid white;
  }
footer{
    margin-top: 5px;
    text-align: center;
    color: burlywood;
    background-color:#F8F9FA;
}