button{
    font-size:15px;
    font-weight: bold;
    background-color: white;
    color: #2c9caf;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    outline: 2px solid #2c9caf;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 1s;
    margin-top: 250px;
    margin-left: 550px
}
button:hover{
    color: #ffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}
button::before{
    content: "";
    background-color: #2c9caf;
    outline: 2px solid #70bdca;
    position: absolute;
    top: 0;
    left: -50px;
    height: 100%;
    width: 0%;
    transform: skewX(45deg);
    z-index: -1;
    transition: all 1s;
}
button:hover::before{
    width: 250%;
}